.directions {
	position: relative;
	max-width: 1170px;
	margin: 0 auto;

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: row;

		@media (max-width: 1300px) {
			flex-direction: column;
			margin-left: 50px;
			margin-right: 50px;
		}

		@media (max-width: 767px) {
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	&__title {
		font-family: Commissioner, sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		line-height: 40px;
		letter-spacing: 0.03em;
		color: rgba(0, 0, 0, 0.9);
		max-width: 370px;
	}

	&__description {
		font-family: Lato, sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 15px;
		line-height: 25px;
		color: rgba(0, 0, 0, 0.8);
		max-width: 770px;
	}

	&__wrapper{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		flex-shrink: 0;
		max-height: 560px;
		overflow: hidden;
		transform: translateY(100px);

	& > img {
		max-width: 100%;
		transition: transform 1s ease-in-out;
		}
	}


	&__slider {
		position: relative;
	}

	&__button {
		display: inline-block;
		padding: 10px;
		transform: translateY(100px);

		@media (max-width: 1300px) {
			display: none;
		}

		&--previous {
			position: absolute;
			top: 45%;
			left: -50px;
			
		}
		&--next {
			position: absolute;
			top: 45%;
			right: -50px;
			transform: translateY(100px);

			& > img {
				transform: rotate(180deg);
			}
		}
	}

	&__link	{
		display: inline-block;
	}	
} 