.we-do {
	max-width: 1170px;
	margin: 0 auto;
	background-color: #E5E5E5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 80px;

	@media (max-width: 1200px) {
		flex-direction: column;
		justify-content: center;
	}

	&__card {
		padding: 40px 50px;
		max-width: 570px;
		background-color: #fff;
		margin-bottom: 30px;

		@media (max-width: 655px) {
			margin-right: 20px;
			margin-left: 20px;
		}

		&--lable {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				border: 20px solid transparent; border-top: 20px solid #DEC377; border-right: 20px solid #DEC377;
				top: 0;
				right: 0;
			}
		}

		&:last-child {
			max-width: 1170px;
			display: flex;
			flex-direction: row;
			margin-bottom: 100px;

			@media (max-width: 1200px) {
				max-width: 570px;
				flex-direction: column;
			}		

			& > .we-do__title-card {
				max-width: 320px;
				margin-right: 30px;

				@media (max-width: 1200px) {
					max-width: 450px;
				}
			}

			& > .we-do__description-card {
				max-width: 720px;
			}

		}
	}

	&__title-card {
		font-family: Commissioner, sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		line-height: 45px;
		color: rgba(0, 0, 0, 0.9);
		margin-bottom: 15px;
	}

	&__description-card {
		font-family: Lato, sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 15px;
		line-height: 25px;
		color: rgba(0, 0, 0, 0.8);
		max-width: 470px;

		@media (max-width: 655px) {
			padding-bottom: 30px;
		}
	}
}