.we-do {

	max-width: 1170px;
	margin: 0 auto;
	background-color: #E5E5E5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 80px;

	&__card {
		padding: 40px 50px;
		width: 570px;
		height: 305px;
		background-color: #fff;
		margin-bottom: 30px;

		&--lable {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				border: 20px solid transparent; border-top: 20px solid #DEC377; border-right: 20px solid #DEC377;
				top: 0;
				right: 0;
			}
		}

		&:last-child {
			width: 1170px;
			height: 185px;
			display: flex;
			flex-direction: row;
			margin-bottom: 100px;

			& > .we-do__title-card {
				max-width: 320px;
				margin-right: 30px;
			}

			& > .we-do__description-card {
				max-width: 720px;
			}

		}
	}

	&__title-card {
		font-family: Commissioner, sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		line-height: 45px;
		color: rgba(0, 0, 0, 0.9);
		margin-bottom: 15px;
	}

	&__description-card {
		font-family: Lato, sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 15px;
		line-height: 25px;
		color: rgba(0, 0, 0, 0.8);
		max-width: 470px;
	}
}